<div [formGroup]="myForm" class="field" *ngIf="question.isVisible">
  <label [attr.for]="question.key">{{ question.label }}</label>

  <div [ngSwitch]="question.controlType">
    <input
    class="text-input"
      *ngSwitchCase="'text'"
      [formControlName]="question.key"
      [id]="question.key"
      [type]="question.type"
    />
    <div *ngSwitchCase="'email'"
    >
    <input
    class="text-input"
      [formControlName]="question.key"
      [id]="question.key"
      [type]="question.type"
    />
    <span class="hint" *ngIf=" isValid || !this.myForm.controls[this.question.key].touched">E.g. {{question.hint}}</span>
  </div>
    <input
      *ngSwitchCase="'checkbox'"
      [formControlName]="question.key"
      [id]="question.key"
      type="checkbox"
      [value]="question.value"
    />
    <label class="toggle" *ngSwitchCase="'slider'" >
      <input  class="checkbox" [id]="question.key" [value]="question.value"  [formControlName]="question.key" type="checkbox"
/>
      <span class="slider round"></span>
    </label>  
    <input
      *ngSwitchCase="'number'"
      [formControlName]="question.key"
      [id]="question.key"
      [type]="question.type"
    />
    <input
      *ngSwitchCase="'phone'"
      [formControlName]="question.key"
      [id]="question.key"
      [type]="question.type"
      minlength='10'
      maxlength='10'
      pattern="[0-9]{10}"
    />
  
    <textarea *ngSwitchCase="'textarea'"
    [formControlName]="question.key"
    [id]="question.key"
    row="5"></textarea>
      
    <select
      [id]="question.key"
      *ngSwitchCase="'dropdown'"
      [formControlName]="question.key"
    >
      <option *ngFor="let option of question.options" [value]="option.key">
        {{ option.value }}
      </option>
    </select>

    
  </div>

  <div class="errorMessage" *ngIf="!isValid && this.myForm.controls[this.question.key]?.touched">
    <ng-container *ngIf="this.myForm.controls[this.question.key]?.value">
      Please Enter Valid {{ question.label }}
    </ng-container>
    <ng-container *ngIf="!this.myForm.controls[this.question.key]?.value">
      {{ question.label }} is Required
    </ng-container>
  
  </div>
</div>

