.form {
  width: 100%;
  max-width: 500px; 
  margin: 0 auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 44px;
}

.row {
  margin-bottom: 15px;
}

.btn {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  background-color: #007bff; 
  color: #fff;
  cursor: pointer;
}

.btn[disabled] {
  opacity: 0.5;
  cursor: no-drop;
}

.btn:hover {
  background-color: #0056b3; 
}
